case footertype
    when "min"
        footer#minimal
    default
        footer#flexcontainer
                    #infoblock_map.yandex
                        p Здесь потом карта будет
                    #infoblock_contacts.animate
                        p Контакты