doctype html
head
    include partials/head.pug       
body#gridcontainer-backbone
    block header
       include partials/headers.pug
    block main
        include partials/main.pug
    block footer
        include partials/footer.pug
    block js(js)
        if typeof js == "string"
            script(src= js)
        if Array.isArray(js)
            for p in js
                script(src= p)